<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	>
        
	<bean id="helloBean" class="com.gemcity.xpd.beans.Test">
		<property name="name" value="Mr.Robot" />
	</bean>
	
	<bean id="tableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
	</bean>
	
	<bean id="exportDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.progress.sql.jdbc.JdbcProgressDriver" />
		<property name="url" value="jdbc:jdbcprogress:T:192.168.74.20:6100:mfgsys" />
		<property name="username" value="sysprogress" />
		<property name="password" value="aprilfools" />
	</bean>
			
	<bean id="importDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/radix" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="partTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="Part" />
		<property name="exportColumns" value="PartNum, PartDescription, Class, IUM, PUM, TypeCode, MfgComment, PurComment, UserChar1, UserChar2, UserChar3, NonStock, InActive, PhantomBOM" />
    	<property name="whereClause" value=" WHERE Part.InActive = 0" />
    	<property name="importTableName" value="ev_part" />
		<property name="importColumns" value="PartNum, PartDescription, Class, IUM, PUM, TypeCode, MfgComment, PurComment, MFG, MFGNo, Project, NonStock, InActive, PhantomBOM" />
	</bean>
	
	<bean id="partMtlTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile">
		<property name="exportTableName" value="PartMtl" />
		<property name="exportColumns" value="PartNum, RevisionNum, MtlSeq, QtyPer, MtlPartNum, BubbleNum, FixedQty, MfgComment, PurComment, PullAsAsm, ViewAsAsm" />
    	<property name="whereClause" value="" />
    	<property name="importTableName" value="ev_partmtl" />
		<property name="importColumns" value="PartNum, RevisionNum, MtlSeq, QtyPer, MtlPartNum, BubbleNum, FixedQty, MfgComment, PurComment, PullAsAsm, ViewAsAsm" />
	</bean>

</beans>