<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
                
	<bean id="helloBean" class="com.gemcity.xpd.beans.Test">
		<property name="name" value="Mr.Robot" />
	</bean>
	
	<bean id="partTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partTableExportProfile" />
	</bean>
	
	<bean id="partMtlTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partMtlTableExportProfile" />
	</bean>
	
	<bean id="partRevTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partRevTableExportProfile" />
	</bean>
	
	<bean id="partPlantTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partPlantTableExportProfile" />
	</bean>

	<bean id="aprvVendTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="aprvVendTableExportProfile" />
	</bean>

	<bean id="plantWhseTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="plantWhseTableExportProfile" />
	</bean>

	<bean id="vendorTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="vendorTableExportProfile" />
	</bean>

	<bean id="partOprTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partOprTableExportProfile" />
	</bean>
	
	<bean id="partBinTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partBinTableExportProfile" />
	</bean>
	
	<bean id="partDtlTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="partDtlTableExportProfile" />
	</bean>
	
	<bean id="POHeaderTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="POHeaderTableExportProfile" />
	</bean>
	
	<bean id="PODetailTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="PODetailTableExportProfile" />
	</bean>
	
	<bean id="jobHeadTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="jobHeadTableExportProfile" />
	</bean>
	
	<bean id="rcvDtlTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="rcvDtlTableExportProfile" />
	</bean>
	
	<bean id="jobMtlTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="jobMtlTableExportProfile" />
	</bean>
	
	<bean id="jobAsmblTableExportDAO" class="com.gemcity.xpd.dao.TableExportDAO">
		<property name="exportDataSource" ref="exportDataSource" />
		<property name="importDataSource" ref="importDataSource" />
		<property name="profile" ref="jobAsmblTableExportProfile" />
	</bean>
	
	<!-- DATABASE CONNECTIONS -->
	<bean id="exportDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.progress.sql.jdbc.JdbcProgressDriver" />
		<property name="url" value="jdbc:jdbcprogress:T:192.168.74.20:6100:mfgsys" />
		<property name="username" value="sysprogress" />
		<property name="password" value="aprilfools" />
	</bean>
			
	<bean id="importDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/radix" />
		
		<!-- 
		<property name="username" value="root" />
		<property name="password" value="root" />
		-->
		
		<property name="username" value="xpd" />
		<property name="password" value="xpd*2016" /> 
	</bean>
	
	<!-- Part Table Profile -->
	<bean id="partTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="Part" />
		<property name="exportColumns" value="PartNum, PartDescription, Class, IUM, PUM, TypeCode, MfgComment, PurComment, UserChar1, UserChar2, UserChar3, NonStock, InActive, PhantomBOM" />
    	<property name="whereClause" value=" WHERE Part.InActive = 0" /> 
    	<!-- <property name="whereClause" value=" WHERE Part.Class LIKE 'DTP%'" /> -->
    	<property name="importTableName" value="ev_part" />
		<property name="importColumns" value="PartNum, PartDescription, Class, IUM, PUM, TypeCode, MfgComment, PurComment, MFG, MFGNo, Project, NonStock, InActive, PhantomBOM" />
	</bean>
	
	<!-- PartMtl Table Profile -->
	<bean id="partMtlTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PartMtl" />
		<property name="exportColumns" value="PartNum, RevisionNum, MtlSeq, QtyPer, MtlPartNum, BubbleNum, FixedQty, MfgComment, PurComment, PullAsAsm, ViewAsAsm" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_partmtl" />
		<property name="importColumns" value="PartNum, RevisionNum, MtlSeq, QtyPer, MtlPartNum, BubbleNum, FixedQty, MfgComment, PurComment, PullAsAsm, ViewAsAsm" />
	</bean>
	
	<!-- PartRev Table Profile -->
	<bean id="partRevTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PartRev" />
		<property name="exportColumns" value="PartNum, RevDescription, RevisionNum, Approved, ApprovedDate, ApprovedBy, EffectiveDate" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_partrev" />
		<property name="importColumns" value="PartNum, RevDescription, RevisionNum, Approved, ApprovedDate, ApprovedBy, EffectiveDate" />
	</bean>
	
	<!-- PartPlant Table Profile -->
	<bean id="partPlantTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PartPlant" />
		<property name="exportColumns" value="PartNum, MinimumQty, MaximumQty, SafetyQty, MinOrderQty, LeadTime, MinMfgLotSize, MinAbc, SystemAbc, VendorNum, MfgLotSize, MaxMfgLotSize, MfgLotMultiple, ProcessMRP, GenerateSugg, DaysOfSupply" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_partplant" />
		<property name="importColumns" value="PartNum, MinimumQty, MaximumQty, SafetyQty, MinOrderQty, LeadTime, MinMfgLotSize, MinAbc, SystemAbc, VendorNum, MfgLotSize, MaxMfgLotSize, MfgLotMultiple, ProcessMRP, GenerateSugg, DaysOfSupply" />
	</bean>
	
	<!-- AprvVend Table Profile -->
	<bean id="aprvVendTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="AprvVend" />
		<property name="exportColumns" value="APVType, VendorNum, PartNum, Class, CustNum, OpCode, ManPartNum, Manufacturer" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_aprvvend" />
		<property name="importColumns" value="APVType, VendorNum, PartNum, Class, CustNum, OpCode, ManPartNum, Manufacturer" />
	</bean>

	<!-- PlantWhse Table Profile -->
	<bean id="plantWhseTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PlantWhse" />
		<property name="exportColumns" value="PartNum, PrimBin" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_plantwhse" />
		<property name="importColumns" value="PartNum, PrimBin" />
	</bean>

	<!-- Vendor Table Profile -->
	<bean id="vendorTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="Vendor" />
		<property name="exportColumns" value="VendorNum, VendorID, Name, Address1, Address2, Address3, City, State, Country" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_vendor" />
		<property name="importColumns" value="VendorNum, VendorID, Name, Address1, Address2, Address3, City, State, Country" />
	</bean>
	
	<!-- PartOpr Table Profile -->
	<bean id="partOprTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PartOpr" />
		<property name="exportColumns" value="PartNum, RevisionNum, OprSeq, WCCode, OpCode, EstSetHours, EstProdHours, QtyPer" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_partopr" />
		<property name="importColumns" value="PartNum, RevisionNum, OprSeq, WCCode, OpCode, EstSetHours, EstProdHours, QtyPer" />
	</bean>
	
	<!-- PartBin Table Profile -->
	<bean id="partBinTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PartBin" />
		<property name="exportColumns" value="PartNum, BinNum, OnhandQty" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_partbin" />
		<property name="importColumns" value="PartNum, BinNum, OnhandQty" />
	</bean>
	
	<!-- PartDtl Table Profile -->
	<bean id="partDtlTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile" init-method="init">
		<property name="exportTableName" value="PartDtl" />
		<property name="exportColumns" value="PartNum, RevisionNum, PartDescription, RequirementFlag, DueDate, Quantity, IUM, JobNum, AssemblySeq, JobSeq, OrderNum, OrderLine, PONum, POLine, SourceFile" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_partdtl" />
		<property name="importColumns" value="PartNum, RevisionNum, PartDescription, RequirementFlag, DueDate, Quantity, IUM, JobNum, AssemblySeq, JobSeq, OrderNum, OrderLine, PONum, POLine, SourceFile" />
	</bean>
	
	<!-- POHeader Table Profile -->
	<bean id="POHeaderTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile"  init-method="init">
		<property name="exportTableName" value="POHeader" />
		<property name="exportColumns" value="EntryPerson, OrderDate, PONum, ShipCountry, CommentText, VendorNum, ShipName, ShipViaCode, OpenOrder, ShipAddress1, ShipAddress2, ExchangeRate, ApprovalStatus" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_poheader" />
		<property name="importColumns" value="EntryPerson, OrderDate, PONum, ShipCountry, CommentText, VendorNum, ShipName, ShipViaCode, OpenOrder, ShipAddress1, ShipAddress2, ExchangeRate, ApprovalStatus" />
	</bean>

	<!-- PODetail Table Profile -->
	<bean id="PODetailTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile"  init-method="init">
		<property name="exportTableName" value="PODetail" />
		<property name="exportColumns" value="VoidLine, PONUM, OrderQty, IUM, OpenLine, POLine, UnitCost, LineDesc, PartNum, Class, RevisionNum, VendorNum, Confirmed, ConfirmDate" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_podetail" />
		<property name="importColumns" value="VoidLine, PONUM, OrderQty, IUM, OpenLine, POLine, UnitCost, LineDesc, PartNum, Class, RevisionNum, VendorNum, Confirmed, ConfirmDate" />
	</bean>
	
	<!-- JobHead Table Profile -->
	<bean id="jobHeadTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile"  init-method="init">
		<property name="exportTableName" value="JobHead" />
		<property name="exportColumns" value="JobNum, PartNum, PartDescription, ProdQty, IUM, StartDate, ReqDueDate, JobClosed, ClosedDate, JobComplete, JobReleased, JobCompletionDate, DueDate, ProjectID, JobFirm" />
    	<property name="whereClause" value=""/>
    	<property name="importTableName" value="ev_jobhead" />
		<property name="importColumns" value="JobNum, PartNum, PartDescription, ProdQty, IUM, StartDate, ReqDueDate, JobClosed, ClosedDate, JobComplete, JobReleased, JobCompletionDate, DueDate, ProjectID, JobFirm" />
	</bean>
	
	<!-- RcvDtl Table Profile -->
	<bean id="rcvDtlTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile"  init-method="init">
		<property name="exportTableName" value="RcvDtl" />
		<property name="exportColumns" value="PackSlip, PartNum, BinNum, ReceivedComplete, PONum, VendorQty, ReceivedTo, InspectionReq, InspectionPending, ReceiptDate" />
    	<property name="whereClause" value=" WHERE RcvDtl.InspectionPending = 1 "/>
    	<property name="importTableName" value="ev_rcvdtl" />
		<property name="importColumns" value="PackSlip, PartNum, BinNum, ReceivedComplete, PONum, VendorQty, ReceivedTo, InspectionReq, InspectionPending, ReceiptDate" />
	</bean>
	
	<!-- JobMtl Table Profile -->
	<bean id="jobMtlTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile"  init-method="init">
		<property name="exportTableName" value="JobMtl" />
		<property name="exportSql" value="SELECT JobHead.JobNum, JobMtl.JobComplete, JobMtl.AssemblySeq, JobMtl.MtlSeq, JobMtl.BubbleNum, JobMtl.PartNum, JobMtl.QtyPer, JobMtl.RequiredQty, JobMtl.IssuedQty, JobMtl.IUM, JobMtl.IssuedComplete FROM pub.JobHead LEFT JOIN pub.JobMtl ON JobMtl.JobNum = JobHead.JobNum" />
    	<property name="whereClause" value="WHERE JobHead.StartDate > '06-01-2016' ORDER BY JobHead.JobNum, JobMtl.AssemblySeq, JobMtl.MtlSeq"/>
    	<property name="importTableName" value="ev_jobmtl" />
		<property name="importColumns" value="JobNum, JobComplete, AssemblySeq, MtlSeq, BubbleNum, PartNum, QtyPer, RequiredQty, IssuedQty, IUM, IssuedComplete" />
	</bean>
	
	<!-- JobAsmbl Table Profile -->
	<bean id="jobAsmblTableExportProfile" class="com.gemcity.xpd.beans.ExportProfile"  init-method="init">
		<property name="exportTableName" value="JobAsmbl" />
		<property name="exportSql" value="SELECT JobHead.JobNum, JobAsmbl.JobComplete, JobAsmbl.AssemblySeq, JobAsmbl.PartNum, JobAsmbl.QtyPer, JobAsmbl.RequiredQty, JobAsmbl.IUM, JobAsmbl.Parent, JobAsmbl.StartDate, JobAsmbl.DueDate, JobAsmbl.PriorPeer, JobAsmbl.NextPeer, JobAsmbl.Child, JobAsmbl.BomSequence, JobAsmbl.BomLevel FROM pub.JobHead LEFT JOIN pub.JobAsmbl ON JobAsmbl.JobNum = JobHead.JobNum" />
    	<property name="whereClause" value="WHERE JobHead.StartDate > '06-01-2016' ORDER BY JobHead.JobNum, JobAsmbl.AssemblySeq"/>
    	<property name="importTableName" value="ev_jobasmbl" />
		<property name="importColumns" value="JobNum, JobComplete, AssemblySeq, PartNum, QtyPer, RequiredQty, IUM, Parent, StartDate, DueDate, PriorPeer, NextPeer, Child, BomSequence, BomLevel" />
	</bean>
	
</beans>